<!DOCTYPE html>
<html>
  <head>
    <title>Norris Chat</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/css/jquery.emojipicker.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/css/jquery.emojipicker.tw.css">
  </head>
  <body>
  <div class="container app">
    <div class="row app-one">
      <div class="col-sm-4 side">
        <div class="side-one">
          <div class="row heading">
            <div class="col-sm-3 col-xs-3 heading-avatar">
              <div class="heading-avatar-icon">
                <img src="/images/userUploads/<%= authUser.picture %>">
              </div>
            </div>
            <div class="col-sm-2 col-xs-2  heading-dot  pull-right">
              <a class="pull-right" href="#" onclick="logout()">Logout</a>
            </div>
            <div class="col-sm-2 col-xs-2 heading-compose  pull-right">
              <i class="fa fa-comments fa-2x  pull-right" aria-hidden="true"></i>
            </div>
          </div>

          <div class="row searchBox">
            <div class="col-sm-12 searchBox-inner">
              <div class="form-group has-feedback">
                <input id="searchText" type="text" class="form-control" name="searchText" placeholder="Search">
                <span class="glyphicon glyphicon-search form-control-feedback"></span>
              </div>
            </div>
          </div>
          <div class="row sideBar">
          <% if(users) { %>
            <% users.forEach((user)=>{ %>
              <a href="/chat?user=<%= user.username %>">
                  <div class="row sideBar-body">
                    <div class="col-sm-3 col-xs-3 sideBar-avatar">
                      <div class="avatar-icon">
                        <img src="/images/userUploads/<%= user.picture %>">
                      </div>
                    </div>
                    <div class="col-sm-9 col-xs-9 sideBar-main">
                      <div class="row">
                        <div class="col-sm-8 col-xs-8 sideBar-name">
                          <span class="name-meta"><%= user.username %>
                        </div>
                        <div class="col-sm-4 col-xs-4 pull-right sideBar-time">
                            <span class="<%= user._id %>" style="color:red"></span>
                        </span>
                        </div>
                      </div>
                    </div>
                  </div>
               </a>
            <% }); %>
          <% } %>
        </div>
        </div>

        <div class="side-two">
          <div class="row newMessage-heading">
            <div class="row newMessage-main">
              <div class="col-sm-2 col-xs-2 newMessage-back">
                <i class="fa fa-arrow-left" aria-hidden="true"></i>
              </div>
              <div class="col-sm-10 col-xs-10 newMessage-title">
                New Chat
              </div>
            </div>
          </div>

          <div class="row composeBox">
            <div class="col-sm-12 composeBox-inner">
              <div class="form-group has-feedback">
                <input id="composeText" type="text" class="form-control" name="searchText" placeholder="Search People">
                <span class="glyphicon glyphicon-search form-control-feedback"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <span class="convoBody">
      </span>
    </div>
  </div>
  <form method="POST" action="/logout" id="logoutForm">
    <input type="hidden" name="_csrf" value="<%= csrf %>">
  </form>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
  <script type="text/javascript" src="/javascripts/js/jquery.emojipicker.js"></script>

  <!-- Emoji Data -->
  <script type="text/javascript" src="/javascripts/js/jquery.emojis.js"></script>
  <script>
    let currentUserYourChattingWith = '';
    $(function(){
      $(".heading-compose").click(function() {
        $(".side-two").css({
          "left": "0"
        });
      });

      $(".newMessage-back").click(function() {
        $(".side-two").css({
          "left": "-100%"
        });
      }); 

      $('.convoBody').html(`<div class="col-sm-8 conversation">
          <div class="row heading">
              <div class="col-sm-8 col-xs-7 heading-name">
              <a class="heading-name-meta">No Conversations Selected
              </a>
            </div>
          </div>
          <div class="row message" id="conversation" style='background: url("/images/welcome.jpg");background-size: cover;overflow-y: auto;'>
          </div>
        </div>
        `);
        let uInUri = '<%-userInUrl%>';
        let newUsersForThis = <%-JSON.stringify(users)%>;
      if(uInUri){
        newUsersForThis.forEach((user)=>{
          if(user.username.toString()==uInUri){
            updateChatScreenWithUser(user);
          }
        })
      }
    })

    var socket = io();

    socket.on('auth',()=>{
      socket.emit('credentials',<%-JSON.stringify(authUser)%>);
    })

    socket.on('chat_recieved',(data)=>{
      if(data.sender===currentUserYourChattingWith){
          $('#conversation').append(`<div class="row message-body">
              <div class="col-sm-12 message-main-receiver">
                <div class="receiver">
                  <div class="message-text">
                    ${data.message}
                  </div>
                </div>
              </div>
            </div>
            `);
      }else{
        let pending = $(`.${data.sender}`).text() ? parseInt($(`.${data.sender}`).text()) : 0;
        $(`.${data.sender}`).text(pending+=1)
      }
    })
    function logout(){
      $('#logoutForm').submit();
    }

    function updateChatScreenWithUser(user){
      currentUserYourChattingWith = user._id;
      let chats = <%-JSON.stringify(chats)%>;
      let authenticatedUser = <%-JSON.stringify(authUser)%>;
      let chatWithUser = [];
      chats.forEach((chat)=>{
        if((chat.sender===authenticatedUser._id && chat.recipient === user._id)
          ||
          (chat.recipient===authenticatedUser._id && chat.sender === user._id)
          ){
            chatWithUser.push(chat);
      }
      });

      $('.convoBody').html(`<div class="col-sm-8 conversation">
          <div class="row heading">
            <div class="col-sm-2 col-md-1 col-xs-3 heading-avatar">
              <div class="heading-avatar-icon">
                <img src="/images/userUploads/${user.picture}">
              </div>
            </div>
            <div class="col-sm-8 col-xs-7 heading-name">
              <a class="heading-name-meta">${user.username}
              </a>
              <span class="heading-online">Online</span>
            </div>
          </div>

          <div class="row message" id="conversation">
            <div class="row message-previous">
              <div class="col-sm-12 previous">
                <a></a>
              </div>
            </div>
            
          </div>

          <div class="row reply">
            <div class="col-sm-1 col-xs-1 reply-emojis">
              <a href="javascript:void(0);" onclick="showEmojis()"><i class="fa fa-smile-o fa-2x"></i></a>
            </div>
            <div class="col-sm-9 col-xs-9 reply-main">
              <textarea class="form-control emojiable-question" rows="1" id="comment"></textarea>
            </div>
            <div class="col-sm-1 col-xs-1 reply-recording">
              <i class="fa fa-microphone fa-2x" aria-hidden="true"></i>
            </div>
            <div class="col-sm-1 col-xs-1 reply-send">
                <a href="javascript:void(0);" onclick="sendChat('${user._id}')"><i class="fa fa-send fa-2x" aria-hidden="true"></i></a>
            </div>
          </div>
        </div>`);
        chatWithUser.forEach((chat)=>{
          let html = '';
          if(chat.sender===authenticatedUser._id){
            html = `<div class="row message-body">
              <div class="col-sm-12 message-main-sender">
                <div class="sender">
                  <div class="message-text">
                    ${chat.message}
                  </div>
                </div>
              </div>
            </div>`;
          }else{
            html = `<div class="row message-body">
              <div class="col-sm-12 message-main-receiver">
                <div class="receiver">
                  <div class="message-text">
                    ${chat.message}
                  </div>
                </div>
              </div>
            </div>
            `;
          }
          $('#conversation').append(html);
        });
    }

    function sendChat(recipient){
      let message = $('#comment').val();
      let chatPacket = {
        sender: <%-JSON.stringify(authUser._id)%>,
        recipient: recipient,
        message: message
      }
      if(message.length>0){
        socket.emit('send_chat',chatPacket);
        $('#conversation').append(`<div class="row message-body">
              <div class="col-sm-12 message-main-sender">
                <div class="sender">
                  <div class="message-text">
                    ${message}
                  </div>
                </div>
              </div>
            </div>`);
      }
      $('#comment').val('');
    }

    function showEmojis(){
      $('#comment').emojiPicker({
        width: '200',
        height: '350',
        position: 'right',
        fadeTime: 100,
        iconColor: 'black',
        iconBackgroundColor: '#eee',
        recentCount: 36,
        emojiSet: 'apple',
        container: 'body',
        button: false
      });
      $('#comment').emojiPicker('toggle');
    }
  </script>
  </body>
</html>
